*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
}
body{
    background-color:#E9ECEF ;
}
/* Header-Menu  */
.menu{
    background-color:#2B2A27 ;
}
h1{
    display: inline-block;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: none;
    color: aquamarine;
}
.links{
    display: inline-block;
}
.links li{
    display: inline-block;
    list-style: none;
    padding: 20px;
}
/* Jumbotron */
.jumbotron{
    text-align: center;
}
.jumbotron-li{
    list-style: none;
}

